    *{
            margin: 0;
            padding: 0;
    }



    .menu{
     background-color: #f2f2f28b;
    }
    .menu-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        


    }

    .card{
        width:30%;
        margin:10px;
        border:4px solid #0a0909;
        background-color: #957c7c;
        border-radius: 20px;
        padding: 10px;
        text-align: center;
        
    }

    .card p{
        text-align: center;

    }

    .card img{
        display: block;
        width: 80%;
        max-width: 80%;
        height: auto;
        margin: auto;
        padding: 0;
        border-radius: 20px;
    }

    .card button{
       
        background-color: red;
        color:white;
        border:none;
        padding:10px;
        border-radius: 5px;
        
        
    }

    .category-icon{
        display:flex;
        justify-content: center;
        padding: 20px;
        overflow:auto;
        background:white;
        gap: 20px;
    }

    .icon-box{
        min-width:100px;
        text-align: center;
        cursor: pointer;
    }


    .icon-box img{
    width:70px;
    height: 70px; object-fit: cover;
    border-radius: 50%;
    border: 2px solid •#eee;
    padding: 5px;
    }
    •icon-box p{
    margin-top: 8px;
    font-size: 14px;
    }
    •icon-box img:hover{
    border-color: Org(0, 0,0);
    transform: scale(1.1) ; 
    }


    .icon-box p:hover{
    color:red;
    }



    