    *{
            margin: 0;
            padding: 0;

        }

        nav{
            background-color: black;
            padding:10px;
            
        }
        ul{
            /* display: inline-block; */
            float: right;
            padding-top:10px;
            padding-right:20px;
            
            
        }
        li {
            display: inline-block;
            margin-left:20px;
            
            
            

        }
        h1{
            display: inline-block;

        }

        a{
            text-decoration: none;
            color: white;
            
        }
        nav a:hover{
            color: red;
            text-decoration: underline;
        }

        nav li:last-child a{
            background-color: red;
            border-radius: 5px;
            padding:5px;
        }
        nav li:last-child a:hover{
            background-color: white;
            color: red;
        }

        .hero{
            background-color:aqua;
            background: url('main_banner.png') no-repeat center/cover;
            height: 95vh;
            display: flex;
            justify-content: center;
            text-align: center;
            color:black;
            align-items: center;
        }

        .hero-content{
            font-size: 2rem;
        }

        .hero-content button{
            background-color: red;
            color: white;
            border: none;
            padding: 20px ;
            margin:20px;
            font-size: 1rem;
            border-radius: 20px;

        }

        .video-section{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 50px;
            background: rgb(255, 200, 119)
        }
        .video-text{
            padding: 20px;
            font-size: 1.5rem;
            text-align: center;
            color: black;


        }
        .video-box{
            padding: 20px;
        }

        .about-section{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 50px;
            background: linear-gradient(to bottom,rgba(47, 40, 40, 0.99),rgb(8, 8, 8));


        }

        .about-text{
            padding: 20px;
            font-size: 1.5rem;
            text-align: center;
            color: #f5e277;

        }
